<div class="well row-fluid livedemo">
  <div class="span6">
    <h4 class="livedemo-elem-title">נסו זאת כאן...</h4>
    <div class="livedemo-raw livedemo-elem">
<textarea dir="auto">
  זהו עמוד ניסיון. ניתן לשחק עם טקסט משלך ממש כאן.

מארקדאון
------------

...הוא רק טקסט רגיל, *רגיל ופשוט*. עד כמה הוא טוב עבורך?

- ניתן **להקליד בצורה טבעית**, והתוצאה נראית טוב.
- **אין צורך לדאוג** ללחוץ על כפתורי עיצוב.
  - או להתעסק עם הזחות. (שני רווחים הם כל מה שנחוץ.)

כדי לראות מה עוד ניתן לעשות עם MarkDown (כולל **טבלאות, **תמונות**, **רשימות ממוספרות**, ועוד) ניתן להיעזר ב[דף העזר][1]. ואז לנסות זאת באמצעות הקלדה בתיבת טקסט זו!

[1]: https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet
</textarea>
    </div>
  </div>
  <div class="span6">
    <h4 class="livedemo-elem-title">...וראו מה קורה!</h4>
    <div class="livedemo-rendered livedemo-elem"></div>
  </div>
</div>
